# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv_new/
ENV/

# IDEs & System files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Secrets / local env configs
*.env*
!.env.example

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Maven
target/
*.jar
